<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>

<div class="row">
  <div class="col-lg-6">
    <input type="text" id="inp_data">
    <button id="btn_image" class="btn btn-success mt-3">Cargar imagen</button>
  </div>
</div>

<script src="./js/img_crud.js"></script>
<%- include("template/footer") %>

<!-- /home/dtrejo/Documentos/curso/pruebas/crud_img_node/views/base_64.ejs -->