<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>

<div class="row">
    <h2>Selecciona una accion</h2>
</div>

<div>
  <label for="formFileLg" class="form-label">Selecciona una imagen a cargar</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file">
</div>

<%- include("template/footer") %>