<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>

<h1>esta es mi pagina de inicio </h1>
<h2><%= titulo %></h2>
<a href="/error">Ir a la página</a>

<button id="prueba" class="btn btn-primary"> prueba</button>

<%- include("template/footer") %>