<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>
<style>
 
</style>
<div class="row text-center">
  <div class="col-lg-5">
    <!-- <h5 class="py-5">Selecciona o arrastra una archivo a subir</h5>     -->

    <!-- <label for="formFileLg" class="form-label fw-bold py-5">Selecciona una archivo a subir</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file"> -->
    <div class="py-5">
      <label for="images" class="drop-container" id="dropcontainer">
      <span class="drop-title">Suelta los archivos aqui</span>
      o
      <input type="file" id="formFileLg" required>
    </label>

    <button id="btn_image" class="btn btn-info mt-3">Subir</button>
    </div>  
  </div>
    <div class="col-lg-7 text-start">
      <h5 class="py-5">Imagenes en el servidor</h5>    
        <ul class="list-group" id="showImg">        
        </ul>
    </div> 
</div>

 

<script src="./js/upload_crudv2.js"></script>
<%- include("template/footer") %>

