<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>

<div class="row">
  <div class="col-lg-6">
    <label for="formFileLg" class="form-label">Selecciona una archivo a subir</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">

    <button id="btn_image" class="btn btn-info mt-3">Subir</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h5>Imagnes actuales</h5>
    <div id="carousel">
      <div class="container my-auto p-2">
        <div class="row d-flex align-items-center">    
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner" id="add_img">                                      
               </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>    
        </div>
      </div>    
    </div>
  </div>
  <div class="col-lg-6"></div>
</div>

<script src="./js/upload_crud.js"></script>
<%- include("template/footer") %>

