<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>
<style>
  input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #0dcaf0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
  .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container.drag-active .drop-title {
  color: #222;
}
</style>
<div class="row text-center">
  <div class="col-lg-5">
    <!-- <h5 class="py-5">Selecciona o arrastra una archivo a subir</h5>     -->

    <!-- <label for="formFileLg" class="form-label fw-bold py-5">Selecciona una archivo a subir</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file"> -->
    <div class="py-5">
      <label for="images" class="drop-container" id="dropcontainer">
      <span class="drop-title">Suelta los archivos aqui</span>
      or
      <input type="file" id="formFileLg" accept="image/*" required>
    </label>

    <button id="btn_image" class="btn btn-info mt-3">Subir</button>
    </div>  
  </div>
    <div class="col-lg-7 text-start">
      <h5 class="py-5">Imagnes en el servidor</h5>    
        <ul class="list-group" id="showImg">        
        </ul>
    </div> 
</div>

 

<script src="./js/upload_crudv2.js"></script>
<%- include("template/footer") %>

