<%- include("template/headers",{tittle:'CRUD image'}) %>
<%- include("template/navbar") %>

<div class="row">
  <div class="col-lg-6">
    <label for="formFileLg" class="form-label">Selecciona una imagen a cargar</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">

    <button id="btn_image" class="btn btn-outline-info mt-3">Cargar</button>
  </div>
</div>

<script src="./js/img_crud.js"></script>
<%- include("template/footer") %>